name: Build workflow

on:
  push:
    branches: [main]

jobs:
  build-singularity-project:
    runs-on: ${{matrix.os}}
    strategy:
      matrix:
        os: [windows-latest, macos-latest, ubuntu-latest]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      # - name: Set up Xcode 15.1
      #   if: matrix.os == 'macos-latest'
      #   uses: maxim-lobanov/setup-xcode@v1
      #   with:
      #     xcode-version: "15.1"

      # - name: Install dependencies
      #   run: brew install autoconf automake autoconf-archive
      - name: Enter MSVC dev environment
        if: matrix.os == 'Windows'
        uses: ilammy/msvc-dev-cmd@v1
        with:
          arch: x64

      - name: Cache ASIO
        uses: actions/cache@v4
        with:
          path: build/_deps/asiosdk-src
          key: asio-${{ matrix.os }}-${{ hashFiles('cmake/ASIOSDK.cmake') }}

      - name: Cache Miniz
        uses: actions/cache@v4
        with:
          path: build/_deps/miniz-src
          key: miniz-${{ matrix.os }}-${{ hashFiles('cmake/Miniz.cmake') }}

      - name: Cache VST3 SDK
        uses: actions/cache@v4
        with:
          path: external/vst3sdk
          key: vst3sdk-${{ matrix.os }}-${{ hashFiles('cmake/VST3.cmake') }}

      - name: Configure CMake
        run: cmake --preset Debug

      - name: Build CMake
        run: cmake --build build
